body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#e8f5e9;
}

.contenedor{
    max-width:450px;
    margin:20px auto;
    padding:20px;
}

h1{
    text-align:center;
    color:#2E7D32;
}

.estado{
    background:#43A047;
    color:white;
    text-align:center;
    padding:15px;
    border-radius:12px;
    font-size:22px;
    margin-bottom:20px;
}

#reader{
    width:300px;
    height:300px;
    margin:20px auto;
    border-radius:20px;
    border:4px solid #43A047;
    overflow:hidden;
    background:white;
    box-shadow:0 6px 18px rgba(0,0,0,.15);
}

#resultado{
    margin-top:20px;
    background:white;
    padding:20px;
    border-radius:5px;
    box-shadow:0 3px 12px rgba(0,0,0,.15);
}

h2{
    margin-top:0;
    color:#2E7D32;
}
#listaPendientes{

    margin-top:15px;

}

.alumnoPendiente{

    background:white;

    padding:15px;

    margin-bottom:10px;

    border-radius:12px;

    box-shadow:0 2px 8px rgba(0,0,0,.12);

}
#reader video{

    object-fit:cover !important;

    border-radius:20px;

}
#teacherSelect{

    width:100%;

    padding:18px;

    font-size:35px;

    border-radius:12px;

    margin-top:10px;

    margin-bottom:20px;

}
#btnEnviar{

    width:100%;

    padding:20px;

    background:#43A047;

    color:white;

    border:none;

    border-radius:15px;

    font-size:24px;

    font-weight:bold;

    cursor:pointer;

    transition:.2s;

}

#btnEnviar:hover{

    background:#2E7D32;

}

#btnEnviar:active{

    transform:scale(.97);

}
.nombreAlumno{

    font-size:34px;

    font-weight:bold;

    margin-top:15px;

}

.grupoAlumno{

    font-size:24px;

    color:#666;

    margin-bottom:25px;

}

.labelTeacher{

    display:block;

    font-size:22px;

    font-weight:bold;

    margin-bottom:10px;

}



/* ==========================================
   BOTÓN REPOSICIÓN
========================================== */

#btnReposicion{

    width:100%;

    margin:18px 0;

    padding:18px;

    border:none;

    border-radius:14px;

    background:#FF9800;

    color:white;

    font-size:22px;

    font-weight:bold;

    cursor:pointer;

    transition:.25s;

}

#btnReposicion:hover{

    background:#F57C00;

}
